/* COLOR VARIABLES :
------------------------------------------------------------------*/
:root {
  --text: #f0f8ff;
  --background-one: #334d9b;
  --background-two: #496ddb;
  --background-three: #a6b1e1;
  --color-one: #17203d;
  --color-two: #474747;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
