/* COLOR VARIABLES :
------------------------------------------------------------------*/
:root {
  --text: #f0f8ff;
  --background-one: #334d9b;
  --background-two: #496ddb;
  --background-three: #a6b1e1;
  --color-one: #17203d;
  --color-two: #474747;
  --shadow: #0e091b;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* COLOR & BACKGROUND :
------------------------------------------------------------------*/
body {
  background-image: linear-gradient(
    150deg,
    var(--background-one),
    var(--background-two),
    var(--background-three)
  );
  color: aliceblue;
}

form {
  background: var(--color-one);
}

input,
textarea,
select {
  color: var(--color-two);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* SHADOWS :
------------------------------------------------------------------*/
h1 {
  text-shadow: 0 3px 10px var(--shadow), 0 5px 10px var(--shadow),
    0 0 30px var(--shadow);
}

h2 {
  text-shadow: 0 5px 10px var(--shadow), 0 0 30px var(--shadow);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
