/* BASIC STYLE RESET: 
------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* GENERAL :
------------------------------------------------------------------*/
a {
  text-decoration: none;
}

i {
  padding: 0 5px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* HEADER :
------------------------------------------------------------------*/
header {
  min-height: 200px;
  padding-top: 40px;
}

header p {
  padding-top: 30px;
}

#description {
  padding-bottom: 5px;
  width: 90%;
  margin: 0 auto;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* FORM :
------------------------------------------------------------------*/
/* GENERAL ====================================================== */
form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 30px;
}

.special-paw {
  display: flex;
  margin-bottom: 10px;
}

.special-paw i {
  margin-right: 5px;
}

.input-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.input-div p,
.input-div label {
  padding-bottom: 10px;
}

.input-div input,
#dropdown {
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border-color: transparent;
  opacity: 0.9;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

/* RADIO BTNS =================================================== */
.radio-btns {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

/* DROPDOWN ===================================================== */
.dropdown {
  margin-bottom: 30px;
}

.dropdown select {
  width: 100%;
}

.dropdown p {
  padding-bottom: 10px;
}

/* CHECKBOXES  =================================================== */
.checkbox-options {
  padding: 10px 0;
}

/* TEXTAREA ===================================================== */
.textarea-div {
  margin: 15px 0;
}

textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border-color: transparent;
  opacity: 0.9;
}

/* SUBMIT BUTTON =============================================== */
.submit-div {
  margin-bottom: 20px;
  padding-top: 50px;
}

.submit-div button {
  border: transparent;
  padding: 10px 20px;
  border-radius: 3px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* FOOTER :
------------------------------------------------------------------*/
footer {
  padding: 30px;
}

footer a {
  padding-bottom: 4px;
}

footer p {
  padding-bottom: 10px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
