/* FONT FAMILY */
body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poiret One", cursive;
}

input,
textarea,
header p {
  font-family: "Exo 2", sans-serif;
}

/* TEXT ALIGN */
header,
.submit-div,
footer,
.last-p {
  text-align: center;
}

/* FONT SIZES */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.3rem;
}

.submit-div button {
  font-size: 1.3rem;
}
/* OTHER FEATURES*/
h2 {
  font-weight: 100;
}
